body{
    background-color: #efefef;
}
.row{
    background-color: #ffffff;
    margin: 20px;
    padding:  20px;
}
.btn-publish{
    float: right;
}
.media-block{
    padding: 10px;
}
.avatar-img{
    width: 45px;
    height: 45px;
}
.profile .section{
    margin: 10px;
}
a.community-href{
    color: #000000;
    font-size:15px;
    text-decoration: none;
}
a.community-href:hover{
    color: #0d6efd;
    cursor: pointer;
}
.comment-util{
    margin-top: 10px;
}
.comment-util .icon{
    margin-right: 5px;
    font-size: 15px;
}
.comment-util .icon:hover{
    color: #0d6efd;
    cursor: pointer;
}
.comment-util .icon.active,
.comment-util .icon:active,
button[aria-expanded="true"] .bi-chat-left-dots {
    color: #0d6efd;
}
.comment-util .count{
    margin-right:  15px;
}
.sub-comments{
    border: #adb5bd 1px solid;
    border-radius: 5px;
    padding: 0 10px;
}