body{
    background-color: #efefef;
}
.row{
    background-color: #ffffff;
    margin: 20px;
    padding:  20px;
}
.btn-publish{
    float: right;
}
.media-block{
    padding: 10px;
}
.avatar-img{
    width: 45px;
    height: 45px;
}