<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">社区</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"  th:if="${session.user == null}">
                        <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=Ov23liS8x0g5m1E0K2xb&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
                    </li>
                    <li class="nav-item dropdown" th:if="${session.user != null}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.getName()}">

                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">个人中心</a></li>
                            <li><a class="dropdown-item" href="/profile/questions">我的问题</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" th:if="${session.user != null}">
                        <a class="nav-link"
                           href="/publish">发布</a>
                    </li>
                    <li class="nav-item" th:if="${session.user != null}">
                        <a class="nav-link position-relative" href="/profile/replies">
                            <i class="bi bi-bell"></i>
                            <!-- 未读通知红点 -->
                            <span th:if="${session.unreadCount != null && session.unreadCount > 0}"
                                  class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">未读通知</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="/" method="get">
                    <input class="form-control me-2" type="search" name="search" placeholder="请输入文本" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">搜索</button>
                </form>
            </div>
        </div>
    </nav>
</div>

</body>

</html>