<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <h2>
                <span th:text="${sectionName}"></span>
            </h2>
            <hr>
            <div class="d-flex media-block" th:each="question : ${pagination.data}">
                <div class="flex-shrink-0">
                    <img th:src="${question.user.avatarUrl}" class="rounded avatar-img" alt="test">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 th:text="${question.title}"></h5>
                    <!-- 灰色小字描述 -->
                    <br>
                    <small class="text-body-secondary">
                        <i class="bi bi-person"></i>
                        作者：<span th:text="${question.user.name}"></span> •
                        <i class="bi bi-eye"></i>
                        浏览 <span th:text="${question.viewCount}"></span> 次 •
                        <i class="bi bi-chat"></i>
                        评论 <span th:text="${question.commentCount}"></span> 条 •
                        <i class="bi bi-clock"></i>
                        创建时间 <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                    </small>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${pagination.showFirstPage}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${1})}" aria-label="First-page">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showPreviousPage}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${pagination.pages}" th:classappend="${page == pagination.page}? 'active': ''">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNextPage}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.page +1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showEndPage}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="End-page">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 profile" >
            <div class="list-group section">
                <a href="/profile/questions" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   th:classappend="${section == 'questions'}? 'active': ''">我的提问
                </a>
                <a href="/profile/replies" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   th:classappend="${section == 'replies'}? 'active': ''">最新回复
                    <span class="badge bg-primary rounded-pill">14</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">A fourth link item</a>
                <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>