<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/community.css">
    <!-- 国内CDN镜像 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <!--正文-->
            <div>
                <h3 th:text="${question.title}"></h3>
                <small class="text-body-secondary">
                    <i class="bi bi-person"></i>
                    作者：<span th:text="${question.user.name}"></span> |
                    <i class="bi bi-clock"></i>
                    创建时间：<span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span> |
                    <i class="bi bi-eye"></i>
                    阅读数：<span th:text="${question.viewCount}"></span> 次
                </small>
                <br>
                <hr>
                <div>
                    <span th:text="${question.description}"></span>
                </div>
                <hr>
                <div>
                    <span class="badge rounded-pill text-bg-primary question-tag" th:each="tag : ${question.tag.split(',')}">
                        <i class="bi bi-tag"></i>
                        <span th:text="${tag}"></span>
                    </span>
                </div>

                <a class="community-href" th:href="@{'/publish/'+${question.id}}"
                   th:if="${session.user != null && session.user.id == question.user.id}">
                    <hr>
                    <span><i class="bi bi-pencil-square"></i> 编辑</span>
                </a>
                <br>
                <br>
            </div>
            <!--评论-->
            <h4><span th:text="${question.commentCount}"></span> 个回复</h4>
            <div th:each="comment : ${comments}">
                <hr>
                <div class="d-flex media-block">
                    <div class="flex-shrink-0">
                        <img th:src="${comment.user.avatarUrl}" class="rounded avatar-img" alt="test">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <small class="text-body-secondary">
                            <span th:text="${comment.user.name}"></span>
                        </small>
                        <br>
                        <span th:text="${comment.content}"></span>
                        <!-- 灰色小字描述 -->
                        <br>
                        <small class="text-body-secondary comment-util">
                            <button class="btn" type="button">
                                <i class="bi bi-hand-thumbs-up icon"></i>
                                <span th:text="${comment.likeCount}" class="count"></span>
                            </button>

                            <button class="btn" type="button" data-bs-toggle="collapse"
                                    th:data-bs-target="'#collapse-' + ${comment.id}" aria-expanded="false"
                                    th:aria-controls="'#collapse-' + ${comment.id}" th:data-id="${comment.id}">
                                <i class="bi bi-chat-left-dots icon"></i>
                                <span th:text="${comment.commentCount ?: 0}"></span>
                            </button>
                            <span class="float-end" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                        </small>
                        <!--二级评论-->
                        <div class="collapse sub-comments" th:id="${'collapse-'+comment.id}">
                            <div class="sub-comments-container" th:id="${'sub-comments-'+comment.id}">
                                <!-- 二级评论将在这里动态加载 -->
                            </div>
                            <br>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="请输入回复内容"
                                       aria-label="请输入回复内容" th:id="${'input-'+ comment.id}"
                                       autocomplete="off">
                                <button class="btn btn-success btn-reply" type="button" th:data-id="${comment.id}">回复</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--评论输入区-->
            <hr>
            <div>
                <div class="d-flex media-block align-items-center">
                    <div class="flex-shrink-0">
                        <img th:src="${session.user != null ? session.user.avatarUrl : '/img/defaultUser.png'}" class="rounded avatar-img" alt="test">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <span th:text="${session.user != null ? session.user.name : '未登陆用户'}"></span>
                    </div>
                </div>
                <input type="hidden" th:value="${question.id}" id="question_id"/>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                    <br>
                    <button type="submit" class="btn btn-success btn-publish" onclick="post()">回复</button>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12">
            <div>
                <h5>发起人 </h5>
                <div class="d-flex media-block">
                    <div class="flex-shrink-0">
                        <img th:src="${question.user.avatarUrl}" class="rounded-circle avatar-img" alt="test">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <span th:text="${question.user.name}"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h5>测试图片</h5>
                <img src="/img/爱上火车last%20run!!截图_20241102_213738.png" alt="测试图片" height="100">
            </div>
            <hr>
            <div>
                <h5>相关问题</h5>
                <ul class="related-list">
                    <li th:each="relatedQuestion  : ${relatedQuestions}">
                        <span >
                            <a th:href="@{'/question/'+${relatedQuestion.id}}" th:text="${relatedQuestion.title}"></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer :: foot}"></div>
</body>
</html>